<p id="notice"><%= notice %></p>

<h1>Welcome Students</h1>

<h4>Grades for <%= @student.name %></h4>
<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Score</th>
        <th>Assignment Name</th>
        <th>Assignment Date</th>
      </tr>
    </thead>

    <tbody>
      <% @students_grades.each do |grade| %>
        <tr>
          <td><%= grade.grade %></td>
          <td><%= grade.assignment.name %></td>
          <td><%= grade.assignment.duedate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
