<p id="notice"><%= notice %></p>

<h1>Welcome Teachers</h1>

<h4>Teachers</h4>
<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users_teachers.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.teacher.first_name %></td>
          <td><%= user.teacher.last_name %></td>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New Teacher", new_user_path("Teacher") %>


<h4>Students</h4>
<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users_students.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.student.first_name %></td>
          <td><%= user.student.last_name %></td>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h4>Parents</h4>
<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users_parents.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.parent.first_name %></td>
          <td><%= user.parent.last_name %></td>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h4>Assignments</h4>
<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Due Date</th>
        <th>Teacher</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @assignments.each do |a| %>
        <tr>
          <td><%= a.name %></td>
          <td><%= a.duedate %></td>
          <td><%= a.teacher.name %></td>
          <td><%= link_to "Edit", edit_assignment_path(a) %></td>
          <td><%= link_to 'Delete', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<p><%= link_to "Logout", login_path, method: :delete %></p>
