<!DOCTYPE html>
<html>
<head>
  <title>Gradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="/favicon.gif" type="image/gif" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p><%= link_to "Logout", login_path, method: :delete %> |
  <%= link_to "Change Password", edit_login_path %></p>
</body>
</html>
